/* ==== CUSTOM PROPERTIES (VARIABLES) */

:root{

  /* ==== colors is hsl ==== */

  --clr-moderate-violet: hsl(263, 55%, 52%);
  --clr-very-dark-grayish-blue: hsl(217, 19%, 35%);
  --clr-very-dark-blackish-blue: hsl(219, 29%, 14%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-light-gray: hsl(0, 0%, 81%);
  --clr-light-grayish-blue: hsl(210, 46%, 95%);

  /* font */
  font-size: 62.5%;

  --ff-primary: 'Barlow Semi Condensed', sans-serif;

  --fs-900: clamp();
  --fs-700: clamp(3.5rem, 5vw, 5rem);
  --fs-500: clamp(1.5rem, 2vw, 1.65rem);
  --fs-400: clamp(1.2rem, 1.25vw, 1rem);

  scroll-behavior: smooth;
}

/* ==== DEFAULT STYLES ==== */

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin-inline: auto;
  width: min(90%, 110rem);
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* main, */
/* header, */
/* section { */
/*   padding: 1.5rem 0; */
/*   margin: 1.5rem 0; */
/*   @media (min-width: 40em) { */
/*     main, */
/*     header, */
/*     section { */
/*       padding: 7rem 0; */
/*       margin: 7rem 0; */
/*     } */
/*   } */
/* } */

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

/* ==== TYPOGRAPHY ==== */

/* font-weight */
.ff-primary{
  font-family: var(--ff-primary);
}

/* font-weight */
.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

/* line-height */
.lh-16{
  line-height: 1.6;
}

.lh-1{
  line-height: 1;
}

/* font-size */
.fs-400{
  font-size: var(--fs-400);
}

.fs-500{
  font-size: var(--fs-500);
}

.fs-700{
  font-size: var(--fs-700);
}

.fs-900{
  font-size: var(--fs-900);
}

/* font-color */
.fc-secondary-one{
  color: var(--clr-light-gray);
}

.fc-secondary-two{
  color: var(--clr-light-grayish-blue);
}

/* ==== BACKGROUND COLORS ==== */

.bg-primary-one{
  background: var(--clr-moderate-violet);
}

.bg-primary-two{
  background: var(--clr-very-dark-grayish-blue);
}

.bg-primary-three{
  background: var(--clr-very-dark-blackish-blue);
}

.bg-primary-four{
  background: var(--clr-white);
}
