/* ==== CUSTOM PROPERTIES (VARIABLES) */

:root{

  /* ==== colors is hsl ==== */

  --clr-moderate-violet: 263, 55%, 52%;
  --clr-very-dark-grayish-blue: 217, 19%, 35%;
  --clr-very-dark-blackish-blue: 219, 29%, 14%;
  --clr-white: 0, 0%, 100%;
  --clr-light-gray: 210, 46%, 95%;
  --clr-bg: 210, 46%, 95%;
  --clr-light-grayish-blue: 223, 13%, 33%;

  --opacity-50: 0.5;
  --opacity-70: 0.7;

  /* font */
  font-size: 62.5%;

  --ff-primary: 'Barlow Semi Condensed', sans-serif;

  --fs-900: clamp();
  --fs-700: clamp(1.8rem, 5vw, 2rem);
  --fs-500: clamp(1.6rem, 2vw, 1.65rem);
  --fs-400: clamp(1.5rem, 2vw, 1.5rem);

  scroll-behavior: smooth;
}

/* ==== DEFAULT STYLES ==== */

*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  margin-inline: auto;
  width: min(90%, 110rem);
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
}

/* ==== TYPOGRAPHY ==== */

/* font-weight */
.ff-primary{
  font-family: var(--ff-primary);
}

/* font-weight */
.fw-500{
  font-weight: 500;
}

.fw-600{
  font-weight: 600;
}

/* font-size */
.fs-400{
  font-size: var(--fs-400);
}

.fs-500{
  font-size: var(--fs-500);
}

.fs-700{
  font-size: var(--fs-700);
}

.fs-900{
  font-size: var(--fs-900);
}

/* font-color */
.fc-secondary-one{
  color: hsl(var(--clr-light-gray));
}

.fc-secondary-one-op-50{
  color: hsl(var(--clr-light-gray), var(--opacity-50));
}

.fc-secondary-one-op-70{
  color: hsl(var(--clr-light-gray), var(--opacity-70));
}

.fc-secondary-two{
  color: hsl(var(--clr-light-grayish-blue));
}

.fc-secondary-two-op-50{
  color: hsl(var(--clr-light-grayish-blue), var(--opacity-50));
}

.fc-secondary-two-op-70{
  color: hsl(var(--clr-light-grayish-blue), var(--opacity-70));
}

/* ==== BACKGROUND COLORS ==== */

.bg-primary-one{
  background: hsl(var(--clr-moderate-violet));
}

.bg-primary-two{
  background: hsl(var(--clr-very-dark-grayish-blue));
}

.bg-primary-three{
  background: hsl(var(--clr-very-dark-blackish-blue));
}

.bg-primary-four{
  background: hsl(var(--clr-white));
}

.bg-primary-five{
  background: hsl(var(--clr-bg));
}
